@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;700&display=swap');

// Font

$font1: 'Varta', sans-serif;

// Colores

$color1: black;
$color2: white;
$color3: #d4bf97;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// SCROLL BAR

::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar{
    background-color: black;
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #d4bf97;
    border: solid 2px black;
}

// HEADER

header{
    background-color: $color1;

    h1{
    font-family: $font1;
    color: $color3;
    text-align: center;
    padding: 50px;
    letter-spacing: 1px;
    &:hover {color: $color2; cursor: pointer};
    }
}

@import "_muestrario", "_footer"